# Python
*.pyc
__pycache__/
*.pyo
*.pyd


# Virtual env
venv/
.env
.env.*


# Editor/IDE
.vscode/
.idea/


# Django
*.sqlite3
media/
staticfiles/


# Logs
*.log


# macOS
.DS_Store


# Extras
test.txt
sap_test.py
dump.rdb